:root{
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--light-gray);
    /* this is to center the card */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* this is to center the card */
}
.container{
    max-width: 360px; /* to control the size of the image(not to make the image overflow)*/
    margin: auto auto; /*to push the footer to the bottom*/
    text-align: center;
}
.card{
    background-color: var(--white);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin: 0 1rem;
}
.card img{
    width:100%;
    border-radius: 15px;
}
.text{
    padding: 22px 10px;
}
.text h2{
    color: var(--dark-blue);    
    font-family: "Outfit", sans-serif;
    margin-bottom: 20px;
    
}
.text p{
    color: var(--grayish-blue);
    padding: 0px 10px;
    font-family: "Outfit", sans-serif;
}
